*.local
blood/Blood41.cbproj.local
ceramica/Win32
ceramica/__astcache
ceramica/__history
ceramica/__recovery
ceramica_client/Win32
ceramica_client/__astcache
ceramica_client/__history
ceramica_client/__recovery
OCRDemo/Win32
OCRDemo/__astcache
OCRDemo/__history
OCRDemo/__recovery
PAM/Win32
PAM/__astcache
PAM/__history
PAM/__recovery
PAM/Output
LFMarker/__astcache
LFMarker/__history
LFMarker/__recovery
LFMarker/debug_build
LFMarker/release_build
common/__history
common/__history
CCDBufCamera_CDROM_181227_
PRI/Win32/Release
PRI/Win32/Debug
PRI/__recovery
PRI/__history
VideoMarker/Win32/debug/*.*
VideoMarker/Win32/release/*.*
VideoMarker/__history/*.*
common/cvvideo/module/awpcvvideo/release/
common/cvvideo/module/awpcvvideo/debug/
*.suo
*.sdf
*.obj
Optoacustics/Win32/debug/*.*
Optoacustics/Win32/release/*.*
Optoacustics/__history/*.*
PAM2/Win32/debug/*.*
PAM2/Win32/release/*.*
PAM2/__history/*.*
PAM2/__recovery/
PAM2/ComPort/Win32/debug/*.*
PAM2/ComPort/Win32/release/*.*
PAM2/~*.*
PAM2/Nodes/__history/*.*
PAM2/phserialport/cosoletest1/Win32/Debug/*.*
PAM2/phserialport/cosoletest1/Win32/Release/*.*
PAM2/phserialport/cosoletest1/__history/*.*
PAM2/phserialport/__recovery/*.*
*.~1~
LFMarker/common/__history/Histogramm2DUnit.cpp.~2~
BeeWings/BeeLandmarks/Win32/
BeeWings/BeeLandmarks/__history/
BeeWings/BeeLandmarks/__recovery/
BeeWings/include/__history/
BeeWings/landmarks/Win32/
BeeWings/landmarks/__history/
BeeWings/LandmarksEditor/Win32/
BeeWings/LandmarksEditor/__history/
BeeWings/MCTPoints/__history/
BeeWings/MCTPoints/Win32/
BeeWings/MCTPoints/MCTPoints/Debug/
BeeWings/MCTPoints/MCTPoints/Release/
*.opensdf
BeeWings/BeeKindEditor/__history/
BeeWings/BeeKindEditor/__recovery/
BeeWings/BeeKindEditor/Win32/
BeeWings/FVLCore/borland/Debug_Build/
BeeWings/check_fvc_template/Win32/
BeeWings/check_fvc_template/__recovery/
BeeWings/check_fvc_template/__history/
BeeWings/create_fvc_template/__recovery/
BeeWings/create_fvc_template/__history/
BeeWings/create_fvc_template/Win32/
BeeWings/FVLCore/borland/__history/
BeeWings/FVLCore/src/__history/
BeeWings/FVLCore/src/__recovery/
BeeWings/Normalize/__history/
BeeWings/Signs/__history/
BeeWings/Signs/Win32/
BeeWings/Normalize/Win32/
*.#00
*.pch
*.#01
BeeWings/BeDetect/Win32
BeeWings/BeDetect/__history
BeeWings/BeDetect/__recovery
BeeWings/GrafCI/Win32
BeeWings/GrafCI/__history
BeeWings/GrafCI/__recovery
PRI2/Win32
common/ComPort/__history
common/ComPort/Win32
common/phserialport/Cosoletest1/__history
common/phserialport/Cosoletest1/Win32
PRI2/__history
PRI2/pylon/driver/pylonwrapper/Debug
PRI2/pylon/driver/pylonwrapper/ipch
PRI2/pylon/driver/pylonwrapper/Release
PAM2/pam2.cbproj
PRI/pri.cbproj
PRI/pri.cbproj
VideoMarker/Video.Marker.cbproj
