*.local
blood/Blood41.cbproj.local
ceramica/Win32
ceramica/__astcache
ceramica/__history
ceramica/__recovery
ceramica_client/Win32
ceramica_client/__astcache
ceramica_client/__history
ceramica_client/__recovery
OCRDemo/Win32
OCRDemo/__astcache
OCRDemo/__history
OCRDemo/__recovery
PAM/Win32
PAM/__astcache
PAM/__history
PAM/__recovery
PAM/Output
LFMarker/__astcache
LFMarker/__history
LFMarker/__recovery
LFMarker/debug_build
LFMarker/release_build